html, body {
    font-size: 62.5%;/* делаем шрифт 10px чтобы было легче переводить в ремы */
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
ul {
    padding-left: 0;
}
ul > li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 120rem;
    margin: 0 auto;
}
.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding-top: 2.3rem;
    padding-bottom: 2.6rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63%;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__telephone-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
}
.header__maps-img {
    width: 1.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
}
.header__inst-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
}
.header__telephone, .header__maps, .header__inst {
    display: flex;
    align-items: center;
}
.header__maps span {
    line-height: 107%;
}
.header__inst span {
    font-size: 1.4rem;
    line-height: 100%;
}
/* main-top */
.main-display__top {
    padding-top: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-display__logo {
    display: flex;
    align-items: center;
    line-height: 117%;
}
.main-display__logo-img {
    width: 10rem;
    height: 6rem;
}
.main-display__logo-title {
    margin-left: 1.1rem;
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
}
.main-display__nav {
    display: flex;
}
.main-display__nav-link {
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;

}

.main-display__nav-link:not(last-child) {
    margin-right:  2.5rem;
}
.main-display__nav-link a {
    color: #737373;
    text-decoration: none;

}
/* стили main-center */
.main-display__left {
    padding-top: 19rem;
}
.main-display__center {
    display: flex;
    justify-content: space-between;
}
.main-display__right {
    width: 53.3rem;
    height: 68.6rem;
}
.main-display__left-header {
    font-weight: 900;
    font-size: 5rem;
    line-height: 118%;
    margin: 0;
    margin-bottom: 1rem;
}
.main-display__left-subheader {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 1.5rem;
}
.main-display__left-button {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    font-size: 2rem;
    line-height: 115%;
    padding: 1.5rem 3rem;
    color: #FFFFFF;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    outline: none;
    border-radius: 7px;
}
/* About block */
 
.about__items{
/*     display: flex;
    justify-content: space-between; */
    /* сделаем через грид */
    display: grid;
    grid-template-columns: repeat(3, 29%);/* 3 колонки по 29% каждая */
    gap: 0rem 6.1rem;
}

.about__item {
    /* width: 29%; */
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    border-radius: 9px;
    overflow: hidden;
}
.about__header {
    margin-bottom: 11rem;
    font-weight: normal;
    font-size: 5rem;
    line-height: 118%;
    text-align: center;
    scroll-behavior: smooth;
}
.about__header span {
    /* чтобы сделать цвет букв градиентом, нужно сделать фон и применить 2 команды идущие после градиента */
    background: linear-gradient(90deg, rgb(185, 1, 96), rgb(61, 91, 245) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about__item-img {
    width: 100%;
    height: 21.5rem;
}
.about__item-img img {
    width: 100%;
    object-fit: cover;	
}
.about__item-description {
    background: #fff;
    padding: 5% 3.3rem 5% 2.2rem;
}
.about__item-header {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 117%;
}
.about__item-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #767676;
}

/* Footer */
.footer {
    position: relative; /* позиционируем относительно чтобы раскидать картинки */
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2.1rem;
    padding: 17.2rem 12rem 8.4rem 12rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 114%;
    color: #000000;
}
.footer__inst-img {
    width: 3.3rem;
    height: 3.3rem;
    padding-top: 0.5rem;
}
.footer__header {
    margin-bottom: 1rem;
}
/* картинки футера, позиционирую абсолютно */
.footer__decor-1 {
    position: absolute;
    left: 9%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 11rem;
    height: 12.5rem;
}
.footer__decor-2 {
    position: absolute;
    left: 83%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 23.3rem;
    height: 26.4rem;
}
.footer__wrapper li {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
}
.footer__wrapper ul {
    margin-top: 0;
}
.footer__telephone ul {
    padding-top: 1rem;
}